html {
    overflow: hidden;
    height: 100%
}

body {
    height: 100%
}

.welcome-banner {
    position: absolute;
    top: 140px;
    left: 250px;
    padding: 10px;
    font-size: 48px;
    color: #fff;
    display: inline-block;
    color: #fff
}

.header-overlay {
    top: 0;
    position: absolute;
    background-color: #000;
    height: 450px;
    width: 100%;
    opacity: .6
}

.header-image-div {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-image: url(img/waldheader.jpg);
    background-repeat: no-repeat
}

.header-image-div img {
    width: 100%;
    height: 400px;
    max-width: 100%;
    max-height: 100%
}

.logo-header {
    margin: 10px 0;
    padding: 10px;
    color: #3d6fc6;
    font-size: 60px;
    margin-left: 20px
}

.logo {
    height: 100px;
    line-height: 100px;
    font-size: 50px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: auto
}

.menu {
    color: #939499;
    display: inline-block;
    position: absolute;
    right: 5%;
    height: auto;
    overflow: hidden
}

nav {
    position: sticky;
    height: 100px;
    width: 100%;
    z-index: 1;
    top: 0;
}

.main-content {
    height: calc(100% - 100px);
    position: relative;
    overflow: auto;
    scroll-behavior: smooth
}

.menu-div {
    position: relative;
    padding: 0 5%;
    background-color: #3d6fc6;
    display: flex;
    height: 100%
}

.menu-div a {
    vertical-align: middle;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0 18px;
    height: 100%;
    width: auto;
    height: 100%;
    line-height: 100px
}

.menu-div a:hover {
    background-color: #294e8d
}

.content-block {
    min-height: 600px;
    width: 100%;
}

.content-block-dynamic {
    height: auto;
}

a.reflink {
    color: black;
    text-decoration: none;
}

.rotatePlus {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    top: 50%;
    position: absolute;
}

.rotateMinus {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
    top: 50%;
    position: absolute;
}

.drop {
    height: 100%;
}

@media screen and (max-width:1200px) {
    .menu-div a {
        font-size: 20px;
        padding: 0 10px
    }
}

@media screen and (max-width:1050px) {
    .menu-div a {
        font-size: 23px;
        padding: 0 8px
    }
    .welcome-banner {
        left: 100px;
        font-size: 40px
    }
    .flex.reverse-small {
        flex-direction: column-reverse;
    }
    .flex:not(.reverse-small) {
        flex-direction: column;
    }
    .text-div {
        width: 100%
    }
    .img-panel {
        display: block;
        width: 100% !important;
        height: 400px
    }
    .text-div {
        width: 90%!important
    }
}

@media screen and (max-width:880px) {
    .menu-div .menu {
        display: none;
        position: absolute;
        width: 100%;
        top: 100px;
        left: 0;
        z-index: 100
    }
    .menu a {
        display: block;
        background-color: #fff;
        color: #939499
    }
    .burger {
        Display: inline-block!important
    }
    .logo {
        font-size: 43px
    }
}

@media screen and (max-width:480px) {
    .welcome-banner {
        left: 5%;
        font-size: 30px
    }
    .logo {
        font-size: 33px
    }
    .text-div {
        font-size: 23px
    }
}

.content-block:nth-child(even) {
    background-color: #eaeaea
}

.content-block {
    display: flex
}

.title-section {
    margin-top: 0px;
    font-size: 30px;
    color: #3d6fc6;
    border-bottom: 2px solid #afa2ab;
    padding: 0 10px 6px 0;
    display: inline-block;
    margin-bottom: 30px;
}

.text-div {
    padding: 5%;
    width: 40%;
    display: inline-block;
    font-size: 20px
}

ul {
    list-style: none
}

ul li::before {
    content: "\2022";
    color: #3d6fc6;
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

.full-width {
    width: 90%!important;
    display: block
}

.img-panel {
    display: inline-block;
    width: 50%;
    background-size: cover;
}

.iframe-container {
    position: relative;
    overflow: hidden;
}

.map-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.contact-table {
    width: 100%;
    font-size: inherit
}

.contact-table td {
    padding-right: 20px;
    padding-left: 0
}

.img-angebot {
    background-image: url(img/angebot.jpg)
}

.img-ueber-mich {
    background-image: url(img/profile_new.jpg);
    background-size: cover;
    background-position: right
}

.text-div-right {
    margin-right: 0
}

.text-img-div {
    max-height: 250px;
    padding-top: 20px
}

.footer {
    width: 100%;
    height: 50px;
    background-color: #3d6fc6;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body {
    font-family: Roboto, serif;
    margin: 0
}

.burger {
    Display: none;
    width: 45px;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer
}

.burger span:not(:last-child) {
    margin-bottom: 10px
}

.burger span {
    Display: block;
    Width: 100%;
    Height: 4px;
    Background-color: #fff
}

.block {
    display: block!important
}

.width-100 {
    width: 100%
}

.footer-content {
    padding: 0 5%;
    color: white;
    width: 100%;
}

.footer-content>a {
    text-decoration: none;
    color: white;
    position: relative;
    float: right;
}

.main-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f5f5f5
}

.main-content::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5
}

.main-content::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555
}

.flex {
    display: flex;
    min-height: 510px;
}

.background-grey {
    background-color: #ecf0f1;
}

.offer-box {
    padding: 0px 20px 60px 20px;
    box-sizing: border-box;
}

.offer-container {
    display: flex;
    padding: 5% calc(5% - 20px);
    flex-wrap: wrap;
    box-sizing: border-box;
}

.offer-title {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 15px;
}

.offer-description {
    font-size: 20px;
}

.offer-overtitle {
    flex-basis: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
}

@media only screen and (min-width: 480px) {
    .offer-box {
        flex-basis: 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .offer-box {
        flex-basis: 50%;
        max-width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .offer-box {
        flex-basis: 33.333%;
        max-width: 33.333%;
    }
}