.rotate90>td>span,
.rotate90>td>small,
.rotate90>td>a {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

table {
    overflow: hidden;
}

.tableContent>td {
    text-align: center;
}

.tableContentLeftImp {
    text-align: left !important;
}

.toolTable>td {
    vertical-align: bottom !important;
    padding-left: 10px;
    padding-right: 10px;
    height: 260px;
}

div.overflowScrollX {
    overflow-x: scroll;
}

.toolTable>td>span {
    height: 260px;
}

.tr-striped:nth-of-type(odd) {
    background-color: rgba(249, 249, 249, 0.5);
}

.strongText {
    font-weight: bold;
}

span.block {
    display: block !important;
    padding: 5px !important;
}

td.borderRightSeperate {
    border-right-color: #6c757d !important;
}

tr.borderBottomSeperate>td {
    border-bottom-color: #6c757d !important;
}

.toolTable:first-child {
    width: 255px !important;
}

.backgroundWhite {
    background-color: white;
}

td,
th {
    position: relative !important;
}

tr>td:not(.tableContentLeftImp):not(.notSelectDown):hover:after {
    content: "";
    position: absolute;
    background-color: lightyellow;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

tr:not(.borderBottomSeperate)>td:hover::before {
    content: "";
    position: absolute;
    background-color: lightyellow;
    top: 0;
    left: -5000px;
    width: 10000px;
    height: 100%;
    z-index: -1;
}

.toolTable>td {
    cursor: pointer;
    color: steelblue;
}

.toolTable>td:hover,
.toolTable>td>span:hover {
    font-weight: bold
}

.toolTable>td:not(.notSelectDown) {
    padding-bottom: 0px;
}

td.hightlight {
    color: red;
}

.spaceSpan {
    display: block;
    width: 230px;
}

.whiteSpaceNoWrap {
    white-space: nowrap;
}

.iconRotate {
    transform: rotate(90deg);
}

small {
    padding-top: 26px;
    display: block;
}