.toolTable>th {
    font-weight: 500;
}

.table thead th {
    border: 2px solid #dee2e6;
}

.rotate90>th>span,
.rotate90>th>small,
.rotate90>th>a {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

table {
    overflow: hidden;
    margin-bottom: 0px !important;
    max-width: 100vw;
    display: block;
    border: 0px;
}

.tableContent>td {
    text-align: center;
}

.tableContentLeftImp {
    text-align: left !important;
}

.toolTable>th {
    vertical-align: bottom !important;
    padding-left: 10px;
    padding-right: 10px;
    /*height: 260px;*/
}

div.overflowScrollX {
    overflow-x: scroll;
}

.toolTable>th>span {
    height: 260px;
}

.toolTable>th.w44 {
    min-width: 44px;
}

.toolTable>th.w97 {
    min-width: 97px;
}

.toolTable>th.w70 {
    min-width: 70px;
}

.toolTable>th.w58 {
    min-width: 58px;
}

.toolTable>th.w144 {
    min-width: 144px;
}

.tr-striped:nth-of-type(odd) {
    background-color: rgba(249, 249, 249, 0.5);
}

.strongText {
    font-weight: bold;
}

span.block {
    display: block !important;
    padding: 5px !important;
}

th.borderRightSeperate,
td.borderRightSeperate {
    border-right-color: #6c757d !important;
}

tr.borderBottomSeperate>td {
    border-bottom-color: #6c757d !important;
}

.toolTable:first-child {
    width: 255px !important;
}

.backgroundWhite {
    background-color: white;
}

td,
th {
    position: relative !important;
}

tr:not(.toolTable)>td:not(.noHover):not(.notSelectDown):hover::after {
    content: "";
    position: absolute;
    background-color: lightyellow;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

tr:not(.borderBottomSeperate)>td:not(.noHover):hover::before {
    content: "";
    position: absolute;
    background-color: lightyellow;
    top: 0;
    left: -5000px;
    width: 10000px;
    height: 100%;
    z-index: -1;
}

.toolTable>th {
    cursor: pointer;
    color: steelblue;
}

.toolTable>th:hover,
.toolTable>th>span:hover {
    font-weight: bold;
}

.toolTable>th>span {
    display: block;
}

.toolTable>th:not(.notSelectDown) {
    padding: .5rem;
    padding-bottom: 0px;
}

th.hightlight {
    color: #FFA500;
}

.spaceSpan {
    display: block;
    width: 230px;
}

.whiteSpaceNoWrap {
    white-space: nowrap;
}

.iconRotate {
    transform: rotate(90deg);
}

.stickyTd {
    position: sticky !important;
    position: -webkit-sticky !important;
    left: 0;
    background: #569CA8;
    color: white;
    z-index: 1;
    width: 100px;
}

.pr-100 {
    padding-right: 100px !important;
}

.link a {
    color: steelblue !important;
}

.trans180 {
    transform: rotateX(180deg);
}

table tr th:nth-child(1),
table tr td:nth-child(1) {
    left: 0;
    width: 256px;
    position: sticky !important;
    z-index: 1;
    background-color: green;
}